*{
    margin:0;
    padding:0;
  }
body{
    background-color: lightyellow;
    /*font-size: 25px;
    line-height: 10px;
    margin: 0;*/
}
h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.cabecera{
    background-color: black;
    color: white;
    padding: 2rem 0;
    position: fixed;/* para poner fija la cabecera*/
    left: 0;
    top: 0;
    width: 100%;
}
.cabecera a{
    color: white;
    text-decoration: none;
}
.logo-nav-container{
    display:  flex;
    justify-content: space-between;/* el espacio se divide mejor*/
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 8px;
    font-size: 30px;
}
.menunavegacion ul {
    margin:0;
    padding: 0;
    list-style: none;
}
.menunavegacion ul li{
    display: inline-block;
}
.menunavegacion ul li a{
    display: block;
    padding: 5px;
    transition:  all 0.4s linear;
    border-radius: 5px;
    text-transform:uppercase;/* para poner las letras en mayusculas*/
}
.menunavegacion ul li a:hover{
    background-color: gray;/* si se pone arriba de a se pone gris*/
}
footer{
    background-color: black;
    color:  white;
    text-align: center;
    padding-top: 10px;
}
.principal{
    padding-top: 200px;
    padding-bottom: 80px;
}
@media only screen and(max-width:600px){
    .menunavegacion{
        width: 100%;
        margin-top: 5px;
    }
    .menunavegacion ul{
        margin: 0;
        padding: 0%;
        list-style: none;
        display: none;
    }
    .menunavegacion ul li{
        display: block;
    }
    .menunavegacion ul li a{
        display: block;
        padding: 5px;
        transition: all ,0.4s, linear;
        border-radius: 5px;
    }
    .menunavegacion ul li a:hover{
        background-color:gray;
    }
}
@media only screen and(max-width:980px){
    .menunavegacion{
        width: 100%;
        margin-top: 5px;
    }
    .menunavegacion ul{
        margin: 0;
        padding: 0%;
        list-style: none;
        display: none;
    }
    .menunavegacion ul li{
        display: block;
    }
    .menunavegacion ul li a{
        display: block;
        padding: 5px;
        transition: all ,0.4s, linear;
        border-radius: 5px;
    }
    .menunavegacion ul li a:hover{
        background-color:gray;
    }
}

